# Perception of Cancer

In [2]:
#import the required packages 
import pandas as pd
import re # for regular expressions
import numpy as np # calculations
import matplotlib.pyplot as plt
import glob # search for files in a particular folder with speficied string search
import scipy.stats # for performing statistical operations

In [22]:
# funtion to perform data Cleaning
def clean_data(path):
    path = path
    csv_files = glob.glob(path, recursive = True)
    
    #define an empty list
    df = []
    
    #loop through the files and append to the empty list
    for file in csv_files:
        csv_file = pd.read_csv(file)
        df.append(csv_file)
    
    #concatenate all the files from the df list
    df_record = pd.concat(df, ignore_index = True).reset_index(drop = True).drop("Unnamed: 0", axis = 1)
    
    # remove all tweets with no location 
    df_record = df_record.dropna().reset_index(drop = True)
    
    # a regular expression to pull out all the links associated to every tweet in the tweet text, pick the first index
    pattern = "http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+"
    
    re_pattern = re.compile(pattern)
    
    df_record["Link"] = df_record.Tweet.apply(lambda x:  re.findall(re_pattern, x)[0]  if len(re.findall(re_pattern, x))>0 else "")
    
    return df_record

In [ ]:
# function to remove special characters from the data set and to assign the datetime column as the index

In [25]:
path = "\twitter_dataset\\*.csv"
df = clean_data(path)

df.tail(10)

,User,Location,created On,Tweet,Link
90774,JELLYBEANAMMO,NOT LOOKING FOR A DATE,2019-08-17 02:19:34,@bstreier @SirHublife ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚article i read was l...,
90775,GrannyScopp,United States,2019-08-17 02:19:34,RT @TrentCapelli: @realDonaldTrump In these tr...,
90776,KrayKray_Bri,"New Orleans, LA",2019-08-17 02:19:31,RT @NathanHRubin: It shouldnâ€™t take your mothe...,
90777,FM_Skeletor,"Snake Mountain, Eternia",2019-08-17 02:19:31,RT @newLEGACYinc: WE ARE ALMOST AT $28k RAISED...,https://t.co/kscIFbiIGr
90778,EH436AB,"Aberdeen, WA",2019-08-17 02:19:29,Peter Fonda Dead at 79 After Respiratory Failu...,https://t.co/nY9YohN8x7
90779,zimleague,"Bulawayo, Zimbabwe",2019-08-17 02:19:28,RT @joeblackzw: ZANU is a cancer https://t.co/...,https://t.co/LLnjtpr8FM
90780,aladeenreyes,"Arizona, USA",2019-08-17 02:19:24,RT @j_mike01: The juul generation 20 years lat...,https://t.co/Rmqr39HqtB
90781,haylee_anne_,"Wichita, KS",2019-08-17 02:19:21,RT @j_mike01: The juul generation 20 years lat...,https://t.co/Rmqr39HqtB
90782,sriramh83,Bangalore,2019-08-17 02:19:21,RT @kavita_tewari: It shows that no matter how...,
90783,clayforsberg,On the Front Porch,2019-08-17 02:19:21,@FriedbergEric Thanks for this Eric. I only wi...,https://t.co/p4gODsXk4l

#### Cleaning process
- next steps is to remove peoples names fromt the tweet and only leave the text
- find if the text says anything concerning cancer the disease and cancer the star,if contains anything other than cancer the star,
- remove that record
- remove special characters from the Location
- remove special characters from the Tweet
- download a list of country code and the countries they represent, then use that to assign the names to the

In [27]:
#explore the dataframe
#print(df_record.shape)
#print(df_record.describe)
#print(df_record.head())
df.head()
df.tail()
df.info()
df.tail()
path = "\cleaned_data.csv"


df.to_csv(path.replace("\\","/"))
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90784 entries, 0 to 90783
Data columns (total 5 columns):
User          90784 non-null object
Location      90784 non-null object
created On    90784 non-null object
Tweet         90784 non-null object
Link          90784 non-null object
dtypes: object(5)
memory usage: 3.5+ MB

,User,Location,created On,Tweet,Link
0,RosaGon81175960,"San Antonio, TX",2019-08-31 02:09:32,RT @mmpadellan: I am utterly disgusted right n...,
1,troy_ledbetter,"Alabama, USA",2019-08-31 02:09:32,RT @marksberardi: NurOwn has proven to be more...,
2,kissycrush,night 40 | BLM,2019-08-31 02:09:30,@inzomniafalls im lia\nim a freshman in colleg...,
3,NCManoukian,Reno/Tahoe,2019-08-31 02:09:29,RT @NCManoukian: Young Cancer Survivor Calls T...,https://t.co/qwo3Oxa33d
4,Rumpelsilkskin,Humboldt,2019-08-31 02:09:28,RT @maddenifico: This is a whole new level of ...,https://t.co/vEaaYE